body{
    font-family: 'Roboto', sans-serif;
}

.custom_title{
    font-family: 'Raleway', sans-serif;
}
.cart_icon{
    background-color: aquamarine;
}
.pagination{
    font-family: 'Raleway', sans-serif;
}
